<div class="navbar-wrapper">
    <div class="navbar">
        <a href="/" aria-label="Home">K</a>
        <cloud-button [innerText]="'About Me'" [url]="'/about'" aria-label="About"></cloud-button>
        <cloud-button [innerText]="'Resume/CV'" [url]="'/resume'" aria-label="Resume"></cloud-button>
        <cloud-button [innerText]="'Projects'" [url]="'/projects'" aria-label="Projects"></cloud-button>
        <button pButton [icon]="currentIcon" [rounded]="true" [raised]="true" (click)="toggleClouds()" aria-label="Enabled/Disable Clouds"></button>
    </div>
</div>
