@keyframes raised {
    0%{
        transform: translate3d(0, 0, 0);
    }
    100%{
        transform: translate3d(0, -4px, 0);
    }
    
}

.card-wrapper {
    max-width: 800px;
    border: 2px solid var(--peach-color);
    border-radius: 25px;
    padding: 2rem;
    color: var(--light-color);
    background: rgba(0,0,1,.3);
    backdrop-filter: blur(10px) saturate(1.3);
    transition: all 0.5s ease;
}

.columns {
    display: flex;
    justify-content: space-between;
}

.chips {
    margin-top: 1rem;
}

.card-wrapper:hover {
    filter: saturate(1.2);
    transform: translate3d(0, -5px, 0);
}

.rounded {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    text-shadow: 10px 10px rgba(0,0,0,0.3);
}

div {
    min-width: 160px;
}

@media (max-width: 990px) {
    .card-wrapper {
        flex-direction: column;
    }
}

.p-chip {
    background: var(--purple-color);
    color: var(--light-color);
    margin-right: 5px;
}