.hero-wrapper {
    height: 25rem;
    width: 100%;
    display:inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: "GeckoLunch";
    font-size: 96pt;
    color: var(--peach-color);
    text-shadow: 10px 10px rgba(0,0,0,0.3);
}

.subtitle {
    font-family: 'Roboto';
    font-weight: 300;
    color: var(--light-color);
}