.section {
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  max-width: 1400px;
}

@media (max-width: 990px) {
  .section {
      display: flex;
      flex-direction: column;
      margin: 1rem;
  }
}

h2 {
  font-weight: 300;
  color: var(--light-color);
  text-align: center;
  margin: 1rem .25rem;;
}