<div class="landing">
    <hero></hero>
    <h3 class="body">You can also find me below:</h3>
    <div class="columns">
        <a pButton icon="pi pi-envelope" [rounded]="true" [raised]="true" href="mailto:keolecki@gmail.com"></a>
        <p>keolecki&#64;gmail.com</p>
        <div class="line"></div>
        <a pButton icon="pi pi-linkedin" [rounded]="true" [raised]="true" href="https://www.linkedin.com/in/kayleigh-olecki/" target="_blank"></a>
        <p>LinkedIn</p>
        <div class="line"></div>
        <a pButton icon="pi pi-github" [rounded]="true" [raised]="true" href="https://github.com/ShishKayBob" target="_blank"></a>
        <p>Github</p>
        <div class="line"></div>
        <a pButton icon="pi pi-hashtag" [rounded]="true" [raised]="true" href="tel:+12525052433"></a>
        <p>Text Me</p>
    </div>
</div>