.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.columns {
    display: flex;
    flex-direction: row;
    margin: 3rem auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    animation: floating-text 2s linear forwards;
    animation-delay: 3s;
    opacity: 0;
    flex-wrap: wrap;
}

.line {
    border-left: 1px solid var(--peach-color);
    height: 3rem;
    margin-left: 10px;
    margin-right: 10px;
}

.p-button {
    background: var(--peach-color);
    border: 1px solid var(--peach-color);
    color: var(--light-color);
    margin-right: 10px;
    text-decoration: none;
}

.p-button:not(:disabled):hover {
    background: var(--peach-hover);
    border: 1px solid var(--peach-hover);
    color: var(--dark-color);
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.small-heading {
    margin-bottom: 5px;
}

@keyframes floating-text {
    0%{
        transform: translateY(15px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
    
}

.body {
    font-weight: 300;
    color: var(--light-color);
    text-align: center;
    vertical-align: middle;
    margin-top: 6rem;
    margin-left: 1rem;
    margin-right: 1rem;
    animation: floating-text 2s linear forwards;
    animation-delay: 3s;
    opacity: 0;
    max-width: 800px;
}

@media (min-height: 1100px) {
    .landing {
        height: calc(100vh - 328px);
    }
}