.landing {
    height: 100vh;
}
.columns {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 10rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    animation: floating-text 2s linear forwards;
    animation-delay: 3s;
    opacity: 0;
}

.line {
    border-left: 1px solid var(--peach-color);
    height: 3rem;
    margin-left: 10px;
    margin-right: 10px;
}

.p-button {
    background: var(--peach-color);
    border: 1px solid var(--peach-color);
    color: var(--light-color);
    margin-right: 10px;
    text-decoration: none;
}

.p-button:not(:disabled):hover {
    background: var(--peach-hover);
    border: 1px solid var(--peach-hover);
    color: var(--dark-color);
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.small-heading {
    margin-bottom: 5px;
}

@keyframes floating-text {
    0%{
        transform: translateY(15px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
    
}