.section {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 1em;
    max-width: 1400px;
}

@media (max-width: 990px) {
   .section {
     display:flex;
     flex-direction: column;
   }

}