/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

@font-face {
   font-family: 'GeckoLunch';
   src: url('assets/fonts/Gecko-Lunch.ttf') format('truetype');
   font-weight: normal;
}

* {
   --dark-color: rgb(34,34,59);
   --purple-color: rgba(74, 78, 105);
   --ashen-purple-color: rgba(154, 140, 152);
   --peach-color: rgb(217, 162, 150);
   --peach-hover: rgb(236, 208, 202);
   --light-color: rgba(242, 233, 228);
   font-family: "Montserrat", serif;
   text-rendering: optimizeLegibility;
   margin: 0;
   padding: 0;
}