<div class="timeline-wrapper">
    <p-timeline [value]="events" align="alternate">
        <ng-template #marker let-event>
            <span class="marker">
                <i [class]="event.icon" ></i>
            </span>
        </ng-template>
        <ng-template #content let-event>
            <div class="card">
                <card [header]="event.title" [url]="event.img" [desc]="event.desc" [even]="event.even" [chips]="event.chips">
            </card>
            </div>
        </ng-template>
        <ng-template #opposite let-event>
            <h2>{{event.subtitle}}</h2>
        </ng-template>
    </p-timeline>
</div>
