<div class="about-wrapper">
    <div class="hero">
        <img class="rounded" src="/img/Kay.jpg" alt="Photo of Kay under cherry blossom trees"/>
        <h1 class="title">I'm Kay!</h1>
    </div>
    <h2 class="subtitle">I’m a creative at heart and a technologist by craft. As a Full Stack Engineer, I see code as a canvas — each project, a blend of logic and imagination, structure and spontaneity. Whether I’m building software or weaving ideas into reality, I’m driven by curiosity, a love for elegant solutions, and the endless possibilities that live at the intersection of art and technology.</h2>
    <four-square></four-square>
    <h2 class="subtitle">Outside of work I explore my creativity more making wire bonsai art and drawing. I enjoy a nice mug of coffee or tea whilst looking at the view my PNW apartment overlooks. I have two darling cats, Odo and Poppy, that you will definitely meet during any virtual meeting. On the weekends, I explore Seattle and the Cascades whenever possible.</h2>
    <div class="pictures">
        <img class="squared" src="/img/Granite Falls.jpg" alt="Photo of Granite Falls, WA"/>
        <div class="sub-section">
            <img class="squared" src="/img/Linville Gorge.jpg" alt="Photo of Linville Gorge, NC"/>
            <img class="squared" src="/img/Poppy and Odo.jpg" alt="Photo of Cats, Poppy and Odo"/>
        </div>
        
    </div>
</div>

