.hero-wrapper {
    height: 25rem;
    width: 100%;
    display:inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: "GeckoLunch";
    font-size: 96pt;
    color: var(--peach-color);
    text-shadow: 10px 10px rgba(0,0,0,0.3);
    animation: floating-text 2s linear;
    margin: 6rem 1rem;
    text-align: center;
    letter-spacing: 5px;
}

.subtitle {
    font-weight: 300;
    color: var(--light-color);
    animation: floating-text 2s linear forwards;
    animation-delay: 2s;
    opacity: 0;
    margin: 15px;
    max-width: 800px;
    text-align: center;
}

@keyframes floating-text {
    0%{
        transform: translateY(15px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
    
}

@media (max-width: 900px) and (min-width: 0px) {
    .title {
        font-size: 72pt;
    }
   
}

@media (min-width: 900px) {
    .title:after {
        position: relative;
        font-size: 4rem;
        background: rgb(236, 221, 137);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        top: -80px;
        left: 10px;
        content: "\2726";
        text-shadow: none;
    }
    
    .title:before {
        position: relative;
        font-size: 4rem;
        background: rgb(236, 221, 137);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        top: 50px;
        left: 10px;
        content: "\2726";
        text-shadow: none;
    }
}