@keyframes rising-sky {
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(-800px);
        opacity: 0;
    }
    
}

@keyframes rising-stars {
    0%{
        transform: translateY(0);
    }
    95% {
        opacity: 1;
    }
    100%{
        transform: translateY(-900px);
        opacity: 0;
    }
    
}

.background {
    z-index: -1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: var(--dark-color);
    overflow: hidden;
}

.star::after,
.star::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "\2726";
    font-size: 8rem;
}

.star {
    position: absolute;
    list-style: none;
    bottom:-120px;
    animation: rising-stars 32s linear infinite;
    opacity: 1;
}

.star::after {
    background: linear-gradient(135deg, rgba(201, 173, 167,1) 20%, rgb(236, 221, 137) 70%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.star::before {
    color: transparent;
    text-shadow: 2px 3px 10px rgba(0,0,0,0.2);
}

.cloud {
    position: absolute;
    display: block;
    list-style: none;
    width:250px;
    height:80px;
    bottom:-200px;
    background:#ECEFF1;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    border-radius:100px;
    animation: rising-sky 32s linear infinite;
}

.cloud:after, .cloud:before{
    content:"";
    position:relative;
    display:inline-block;
    background:inherit;
    border-radius:inherit;
}

.cloud::after{
    width:60px;
    height:60px;
    top:-110px;
    left:-100px;
}
.cloud::before{
    width:140px;
    height:140px;
    top: -60px;
    left:80px;
}
@media (max-width: 990px) and (min-width: 0px) {
    .background li:nth-child(1) {
        left: 5%;
        animation-delay: 0s;
    }
    .background li:nth-child(2) {
        right:10%;
        animation-delay: 8s;
    }
    .background li:nth-child(3) {
        left: 5%;
        animation-delay: 16s;
    }
    .background li:nth-child(4) {
        right:10%;
        animation-delay: 24s;
    }
    
    
    .background li:nth-child(5) {
        display:none;
    }
    .background li:nth-child(6) {
        display:none;
    }
    .background li:nth-child(7) {
        display:none;
    }
    .background li:nth-child(8) {
        display:none;
    }
    
}

@media (min-width: 900px) {
    .background li:nth-child(1) {
        left: 12rem;
        animation-delay: 0s;
    }
    .background li:nth-child(2) {
        left: 2rem;
        animation-delay: 8s;
    }
    .background li:nth-child(3) {
        left: 12rem;
        animation-delay: 16s;
    }
    .background li:nth-child(4) {
        left: 2rem;
        animation-delay: 24s;
    }
    
    
    .background li:nth-child(5) {
        right: 12rem;
        animation-delay: 0s;
    }
    .background li:nth-child(6) {
        right: 2rem;
        animation-delay: 8s;
    }
    .background li:nth-child(7) {
        right: 12rem;
        animation-delay: 16s;
    }
    .background li:nth-child(8) {
        right: 2rem;
        animation-delay: 24s;
    }
      
}

/* stars */
.background li:nth-child(9) {
    left: 2rem;
    animation-delay: 4s;
}
.background li:nth-child(10) {
    right: 8rem;
    animation-delay: 16s;
}