<ul class="background">
    <li class="cloud" *ngIf="animations"></li>
    <li class="cloud" *ngIf="animations"></li>
    <li class="cloud" *ngIf="animations"></li>
    <li class="cloud" *ngIf="animations"></li>
    <li class="cloud" *ngIf="animations"></li>
    <li class="cloud" *ngIf="animations"></li>
    <li class="cloud" *ngIf="animations"></li>
    <li class="cloud" *ngIf="animations"></li>

    <li class="star" *ngIf="animations"></li>
    <li class="star" *ngIf="animations"></li>
 </ul>
