<div class="hero">
    <h1 class="title">Projects</h1>
    <h2 class="subtitle">Peak at my personal endevours!</h2>
</div>
<div class="section">
    <solid-card 
      header="Software Development"
      subheader="Professional Projects"
      body="From code projects to live apps, here are living examples of my software endevours!"
      ></solid-card>
      <solid-card 
      header="Personal Endevours" 
      subheader="Personal Development" 
      body="I have a passion for game development and creating apps that are helpful for people. See what I've created here!"
      [comingSoon]="true"></solid-card>
      <solid-card 
      header="Visual Development" 
      subheader="Artistry, Assets, and UX/UI" 
      body="As well as being technical, I lean towards art. I love creating all things. See examples of some of my visual artistry!"
      [comingSoon]="true"></solid-card>
      <solid-card 
      header="Literary Development" 
      subheader="Writing and Posts" 
      body="What can I say, communication is everything! I write stories, thoughts and essays to get my voice heard."
      [comingSoon]="true"></solid-card>
</div>
