.marker {
    display: flex;
    background-color: var(--purple-color);
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.timeline-wrapper {
    margin: auto;
    margin-top: 4rem;
}

h3 {
    margin-top: 5px;
    margin-bottom: 1rem;
}

.card {
    margin-bottom: 5rem;
    display: inline-block;
}

.mobile-view-timeline {
    display: none;
}

@media (max-width: 900px) and (min-width: 0px) {
    .mobile-view-timeline {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
    }

    .timeline-wrapper {
        display: none;
    }
    
}