<div class="footer-wrapper">
    <div class="columns">
        <p>&copy; {{getCurrentYear()}} Kay Olecki</p>
        <div class="line"></div>
        <div>
            <p class="small-heading">Contact Me</p>
            <div>
                <a pButton icon="pi pi-envelope" [rounded]="true" [raised]="true" href="mailto:keolecki@gmail.com"></a>
                <a pButton icon="pi pi-linkedin" [rounded]="true" [raised]="true" href="https://www.linkedin.com/in/kayleigh-olecki/" target="_blank"></a>
                <a pButton icon="pi pi-github" [rounded]="true" [raised]="true" href="https://github.com/ShishKayBob" target="_blank"></a>
                <a pButton icon="pi pi-hashtag" [rounded]="true" [raised]="true" href="tel:+12525052433"></a>
            </div>
        </div>
        
    </div>
</div>