.navbar-wrapper {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 600px;
    height: 3rem;
    margin: auto;
    margin-top: 2rem;
}